@{
    ViewBag.Title = "404 Not Found";
}
<section class="error">
    <div class="clear-fix">
        <h1>
            404
        </h1>
        <h2>
            Page Not Found
        </h2>
    </div>
    <hr />
    <h3>
        Sorry, we can't find the resource you are looking for.
    </h3>
    <p>
        We don't typically make breaking changes to this site, however it could have happened
        by accident.
    </p>
</section>