<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AppEntities" connectionString="metadata=res://*/App.csdl|res://*/App.ssdl|res://*/App.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=bpabst-ws;Initial Catalog=uManage;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>