<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="AppEntities" connectionString="metadata=res://*/App.csdl|res://*/App.ssdl|res://*/App.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bpabst-ws;initial catalog=uManage;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="PostOfficeRunInterval" value="30" />
    <add key="ReminderRunInterval" value="45" />
    <add key="EmailMaxAttemptCount" value="4" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <machineKey validationKey="AD7CBC30584A0E09E95A31366C2C2A5489EB134A3407A94B1F9E1B5BF96A8A349FC7264092CCFA0F866F318CE1E4D31731355EBC4B336F8287207A944168268C" decryptionKey="D803A63760659562BB18D7D257647B4AE9257A5B360F7EEF53F1566F2036BE96" validation="SHA1" decryption="AES" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="" deliveryMethod="Network">
        <network defaultCredentials="false" host="" userName="" password="" port="" enableSsl="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>