@model UMS.Core.Data.Models.Directory.PasswordReminderSetting
@{
    ViewBag.Title = "Password Reminder Settings";
    Layout = "~/Areas/Admin/Views/Shared/_Config.cshtml";
}
@section Head
{
    @Styles.Render("~/bundles/css/jquery")
}
<div class="box">
    <div class="head">
        Password Reminder Settings
    </div>
    <p>
        Password Reminder settings control two aspects of the system:
    </p>
    <ol>
        <li>The first is when users see a notification windows in various parts of the system
            reminding them of their upcoming password expiration.</li>
        <li>The second controls when they will receive e-mail notifications for their upcoming
            password expiration as well, if that feature is also enabled.</li>
    </ol>
    <p>
        To disable a specific reminder option simply change the number to "0" for that particular
        period. Otherwise the reminder period must be greater than the warning period and
        the warning period must be greater than the error period.
    </p>
    <hr />
    @using (Html.BeginForm("PasswordReminder", "Config", FormMethod.Post))
    {
        @Html.EditorForModel()
        <input type="submit" value="Save Changes" />
        <br />
        <br />
        @ViewData["Result"]
    }
</div>
@section Script
{
    <script type="text/javascript">
        $(function () {
            $("form").makeValidationInline();
        });
    </script>
}
