@{
    ViewBag.Title = "Summary";
    Layout = "~/Areas/Admin/Views/Shared/_Config.cshtml";
}
<div class="box">
    <div class="head">
        About uManage
    </div>
    <p>
        <strong>uManage</strong>
        <br />
        &copy; @DateTime.Today.Year 203 Enterprises
        <br />
        All Rights Reserved
        <br />
        Version: @UMS.Web.MvcApplication.Version
        <br />
        License: <a href="http://umanage.codeplex.com/license" target="_blank">Microsoft Public
            License</a>
    </p>
    <p>
        uManage is an Active Directory Self-Service Portal application designed for use
        on intranet systems. It allows users to update their personal information while
        still allowing IT departments to control the access to user's information.
    </p>
</div>
