body
{
    font-family: "Segoe UI" , "Helvetica Neue" , "Lucida Grande" , Arial, Helvetica, Verdana, sans-serif;
    background-color: #414b55;
    font-size: .85em;
}

#page
{
    position: static;
    width: 960px;
    margin: 3% auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 15px #000;
}

#logo
{
    background: url(Images/Logo.png) no-repeat;
    height: 100px;
}

#name
{
    background-color: #178FEE;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.alert
{
    background-color: #ffdbea;
    border: solid 1px red;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 20px;
}

div.header
{
    background-color: #33363a;
    border-radius: 5px 5px 0 0;
    color: white;
    font-weight: bold;
    padding: 10px;
}

div.content
{
    margin: 5px 10px 10px 10px;
}

#left
{
    float: left;
    width: 640px;
}

#right
{
    float: right;
    width: 300px;
}

#foot
{
    margin-top: 30px;
    color: white;
    background-color: #33363a;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

#foot a
{
    color: white;
    text-decoration: none;
}

#foot a:hover
{
    text-decoration: underline;
}

.content ul
{
}

.content ul li
{
    margin-bottom: 5px;
}

.content ul li a
{
    font-size: .85em;
    text-decoration: none;
    
    padding-left: 10px;
    background: url(Images/Right-Arrow.png) no-repeat left center;
}

.content ul li a:hover
{
    text-decoration: underline;
}

a
{
    color: #178FEE;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.clear
{
    clear: both;
}
