<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>uManage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    @Styles.Render("~/styles/bootstrap", "~/styles/ums")
    @Scripts.Render("~/scripts/modernizr")
</head>
<body>
    Hello World!
    @Scripts.Render("~/scripts/jquery"
    , "~/scripts/bootstrap")
</body>
</html>
