<div class="container">
    <header class="row">
        <div class="span12" data-bind="compose: { view: 'head' }">
        </div>
    </header>
    <nav class="row">
        <div class="span12" data-bind="compose: { view: 'nav' }">
        </div>
    </nav>
    <section class="row">
        <div class="span12" data-bind="router: { transition: 'entrance' }">
        </div>
    </section>
    <footer class="row">
        <div class="span12" data-bind="compose: { view: 'foot' }">
        </div>
    </footer>
</div>
