@model UMS.Core.Data.Models.Directory.User
@{
    Layout = "_Me.cshtml";
    ViewBag.Title = "My Information";
}
<div class="box">
    <div class="head">
        My Information
    </div>
    @Html.DisplayForModel()
</div>
