@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
html,
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  cursor: default;
  background: #dddddd url(/content/images/Background.png) no-repeat fixed left bottom;
  background-size: contain;
  color: #333;
}
h2 {
  margin: 0 0 20px 0;
}
.master {
  box-shadow: rgba(0, 0, 0, 0.45) 0 2px 70px 0;
  padding: 0;
}
header.navbar-default {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  min-height: 30px;
  border-bottom: solid 1px #bbb;
}
header form.navbar-form {
  margin-left: 0;
  margin-right: 0;
}
header p.navbar-text {
  color: #bfbfbf !important;
}
header p.navbar-text a {
  color: #bfbfbf !important;
}
div#primary {
  margin: 0;
  background-color: #eee;
}
div#primary .left-panel {
  padding: 15px;
}
div#primary .left-panel hr {
  border-color: #bbb;
}
div#primary .left-panel .user-info {
  border-radius: 5px;
  border: solid 1px #bbb;
  background-color: #fff;
}
div#primary .left-panel .user-info .user-basic {
  cursor: pointer;
}
div#primary .left-panel .user-info .user-basic:hover {
  background-color: #D9EDF7;
}
div#primary .left-panel .user-info .user-image {
  padding: 5px 0 5px 5px;
  max-height: 40px;
}
div#primary .left-panel .user-info .user-name {
  padding: 4px 0 0 10px;
}
div#primary .left-panel .user-info .user-info-expand {
  padding: 15px 15px 0 0;
}
div#primary .left-panel .user-info #user-extended {
  border-top: solid 1px #aaa;
}
div#primary .left-panel .user-info #user-extended .user-extended-info {
  padding: 5px;
}
div#primary .left-panel nav {
  padding: 15px 0 0 0;
}
div#primary .left-panel nav ul {
  list-style: none;
  padding: 0;
}
div#primary .left-panel nav ul li {
  padding: 5px 5px;
}
div#primary .left-panel nav ul li.separator {
  margin-top: 8px;
  border-top: solid 1px #bbb;
}
div#primary .left-panel nav ul li.no-link {
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
}
div#primary .left-panel nav ul li.border {
  padding-bottom: 0;
  margin-bottom: 5px;
  border-bottom: solid 1px #bbb;
}
div#primary .left-panel nav ul li a {
  text-decoration: none;
  color: #888;
}
div#primary .left-panel nav ul li a:hover {
  color: #333;
}
div#primary .left-panel nav ul li.active {
  background-color: #D9EDF7;
}
div#primary .left-panel nav ul li.active a {
  color: #333;
}
div#primary .main-panel {
  padding: 15px;
  min-height: 500px;
  background-color: white;
  border-left: solid 1px #bbb;
}
div#primary .main-panel .wall-post {
  padding: 20px 0 0 0;
}
div#primary .main-panel .wall-post:first-of-type {
  padding: 0;
}
div#primary .main-panel .wall-post .wall-post-header {
  border-bottom: solid 2px #bbb;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
}
div#primary .main-panel .wall-post .wall-post-header h1 {
  font-size: x-large;
  margin: 0;
}
div#primary .main-panel .wall-post .wall-post-header time {
  font-size: smaller;
}
div#primary .main-panel .info-panel .info-panel-header {
  margin: 10px 0;
  padding: 0 5px;
  border-bottom: solid 1px #83d1f8;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
footer {
  background-color: #2C3742;
  color: #bfbfbf;
  padding: 13px 0 13px 9px;
}
@media (max-width: 767px) {
  html,
  body {
    background-image: none;
  }
  .main-panel {
    border-left: none;
  }
  .navbar-form,
  .navbar-text {
    border: none;
    padding: 0 20px;
  }
  .navbar-form {
    margin: 8px 0;
  }
}
/*# sourceMappingURL=site.css.map */