<div class="row-fluid">
    <div class="span6">
        <img src="/Content/images/Logo.png" alt="uManage" />
    </div>
    <div class="span6 userBadge">
        <div class="row">
            <div class="span10">
                <h1>Brent Pabst</h1>
                Links and Icons
            </div>
            <div class="span2">
                <img class="img-polaroid img-rounded" src="/Content/images/No-Photo.png" alt="No Photo Available" />
            </div>
        </div>

    </div>
</div>
