@font-normal: .9em "Segoe UI", Tahoma, "Trebuchet MS", sans-serif;
@font-light: .9em "Segoe UI Light", Tahoma, "Trebuchet MS", sans-serif;
@font-dark: .9em "Segoe UI SemiBold", Tahoma, "Trebuchet MS", sans-serif;

body {
    font: @font-normal;
    color: #666;
    background: #dcdcdc;
    cursor: default;
    background: #dcdcdc url(/Content/images/Background.png) no-repeat fixed left bottom;
    background-size: contain;
    margin: 2% 0;
}

h2 {
    font: @font-light;
    font-size: 1.7em;
}

h3 {
    font: @font-dark;
    text-transform: uppercase;
    margin: 0;
}

footer {
    margin-top: 10px;
    font-size: .80em;

    a {
        color: #666;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.userBadge {
    text-align: right;

    h1 {
        font: @font-light;
        font-size: 2em;
        font-weight: 100;
        margin-bottom: 5px;
    }
}

.box {
    background-color: white;
    box-shadow: 0 0 10px #888;
    border-radius: 5px;
    padding: 5px;
    overflow: auto;
    margin: 10px 0;

    .title {
        background-color: #57a0d3;
        color: white;
        padding: 2px 5px;
        margin-bottom: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .content{
        padding: 0 5px;
    }
}
