<div class="container">
    <header class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/content/images/uManage.png" alt="uManage" />
            </a>
        </div>
        <form class="navbar-form navbar-right" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for User..." autofocus="autofocus">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <p class="navbar-text navbar-right">Signed in as <a href="/#/my/info" class="navbar-link" data-ng-bind="me.displayName"></a></p>
    </header>
    <div id="primary" class="row">
        <aside id="primary-nav" class="left-panel col-sm-3 collapse in">
            <div class="user-info">
                <div class="user-basic clearfix" data-toggle="collapse" data-target="#user-extended">
                    <img class="user-image img-responsive pull-left" data-ng-src="https://secure.gravatar.com/avatar/{{me.emailHash}}.png?s=40&d=retro" alt="{{me.displayName}}" />
                    <div class="user-name pull-left">
                        <div data-ng-bind="me.displayName"></div>
                        <div class="small text-muted" data-ng-bind="me.title"></div>
                    </div>
                    <div class="user-info-expand">
                        <span class="fa fa-caret-down pull-right"></span>
                    </div>
                </div>
                <div id="user-extended" class="collapse">
                    <div class="user-extended-info">
                        <div class="row">
                            <div class="col-sm-6" data-ng-bind="me.displayName"></div>
                            <div class="col-sm-6 text-right">
                                <a href="#/my/info">View Details</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                Account Expires
                            </div>
                            <div class="col-sm-6 text-right">
                                <a href="#/my/account" data-ng-show="me.accountExpires">
                                    <time data-ng-bind="me.accountExpirationDate | fromNow"></time>
                                </a>
                                <a href="/#my/account" data-ng-show="!me.accountExpires">Never</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                Password Expires
                            </div>
                            <div class="col-sm-6 text-right">
                                <a href="#/my/password" data-ng-show="me.passwordExpires">
                                    <time data-ng-bind="me.passwordExpirationDate | fromNow"></time>
                                </a>
                                <a href="/#my/password" data-ng-show="!me.passwordExpires">Never</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav role="navigation" data-ng-controller="MenuCtrl as vm">
                <ul>
                    <li data-ng-repeat="r in vm.navRoutes" data-ng-class="[vm.isCurrent(r), vm.hideLink(r)]">
                        <a href="#{{r.url}}" data-ng-bind-html="r.config.settings.content" data-ng-hide="r.config.settings.hideLink"></a>
                        <span data-ng-bind-html="r.config.settings.content" data-ng-hide="!r.config.settings.hideLink"></span>
                    </li>
                </ul>
                <ul>
                    <li class="no-link border">Quick Links</li>
                    <li><a href="http://github.com/203ent/uManage"><i class="fa fa-github fa-fw fa-lg"></i>&nbsp; uManage on GitHub</a></li>
                    <li><a href="http://brentpabst.com/"><i class="fa fa-user fa-fw fa-lg"></i>&nbsp; Brent Pabst</a></li>
                </ul>
            </nav>
        </aside>
        <div class="main-panel col-sm-9" role="main" data-ng-view></div>
    </div>
    <footer class="small">
        a <strong>203 Enterprises</strong> project
    </footer>
</div>