<header class="row">
    <div class="col-xs-8">
        <img src="/Content/images/Logo.png" alt="uManage" class="img-responsive" />
    </div>
    <div class="col-xs-4 text-right">
        <div class="clearfix">
            <div class="pull-right">
                <img class="img-thumbnail img-responsive" src="/Content/images/No-Photo.png" alt="No Photo Available" />
            </div>
            <div class="pull-right" style="padding-right: 10px;">
                <h3>Brent Pabst</h3>
                <p>Links and Icons</p>
            </div>
        </div>
    </div>
</header>
<section id="content">
    <div data-bind="router: { transition: 'entrance' }"></div>
</section>
<footer>
    &copy; <span data-bind="text: year"></span> <a href="http://www.brentpabst.com" target="_blank">Brent Pabst</a>
    <br />
    A <em><strong>203 Enterprises</strong></em> Project
</footer>