<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <clear />
    <add name="ADService" connectionString="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="AppService" connectionString="" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="LaunchSetupWizard" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableMsftTag" value="False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MsftTagApiKey" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <membership defaultProvider="AspNetActiveDirectoryMembershipProvider">
      <providers>
        <clear/>
        <add connectionStringName="ADService" connectionUsername=""
          connectionPassword="" enablePasswordReset="true" enableSearchMethods="true"
          applicationName="/" clientSearchTimeout="30" serverSearchTimeout="30"
          name="AspNetActiveDirectoryMembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=2.0.3600, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
    
  </system.web>

  <system.net>
    
    <mailSettings>
      
      <smtp from="">
        <network defaultCredentials="false" host="" password="" port="25" userName="" />
      </smtp>
      
    </mailSettings>
    
  </system.net>
</configuration>