<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  
  <connectionStrings>
    <clear />
    <add name="ADService" connectionString="" />
    <add name="uManageEntities" connectionString="" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="LaunchSetupWizard" value="True" />
    <add key="AllowUserPasswordChanges" value="True" />
    <add key="AllowUserAttibChanges" value="True" />
    <add key="AllowUserNameChanges" value="True" />
    <add key="AllowUserEmailChanges" value="True" />
    <add key="AllowUserLocationChanges" value="True" />
    <add key="AllowUserPhoneChanges" value="True" />
    <add key="AllowUserPhotoChanges" value="True" />
    <add key="DisplayUserAccountNotes" value="True" />
    <add key="DisplayUserLocationSection" value="True" />
    <add key="DisplayUserPhoneSection" value="True" />
    <add key="DisplayUserOrganizationSection" value="True" />
    <add key="DisplayUserPhotoSection" value="True" />
    <add key="EnableMsftTag" value="False" />
    <add key="MsftTagApiKey" value="" />
    <add key="EnableOfficeLocationList" value="False" />
    <add key="AdGroupName" value="uManage-Users" />
    <add key="EnableNewUserCreation" value="False" />
    <add key="NewUsernameFormat" value="$fi$$lname$" />
    <add key="NewUserContainer" value="" />
    <add key="CompanyName" value="" />
    <add key="CompanyAddress" value="" />
    <add key="CompanyCity" value="" />
    <add key="CompanyState" value="" />
    <add key="CompanyPostal" value="" />
    <add key="CompanyCountry" value="" />
    <add key="CompanyPhone" value="" />
  </appSettings>
  
  <system.web>
    
    <globalization culture="auto" uiCulture="auto"/>
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    
    <machineKey validationKey="09D8FFEF333751A30477F57EF1C42CBC927F90BCB7BA97DE17D8A70EE5C37963CB73F255FA6347A76333FE124D55891367657D5E697D058D778B69161E0006E9" decryptionKey="D7DEA71B10DF39A927AB21EC2255E853150703558D1526F158183EB106BD4161" validation="SHA1" decryption="AES"/>
    
    <customErrors defaultRedirect="~/Forms/Error.aspx" mode="Off" />
    
    <pages theme="Default">
      <controls>
        <add tagPrefix="ums" tagName="Dialog" src="~/Controls/Dialog.ascx" />
        <add tagPrefix="ums" tagName="SlidingPanel" src="~/Controls/SlidingPanel.ascx" />
        <add tagPrefix="ums" tagName="UserContactCard" src="~/Controls/UserContactCard.ascx" />
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit, Version=3.0.30930.28736, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" />
      </controls>
    </pages>
    
    <siteMap defaultProvider="UserSitemapProvider">
      <providers>
        <add name="UserSitemapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Sitemaps/User.sitemap"/>
        <add name="AdminSitemapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Sitemaps/Admin.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    
    <authentication mode="Windows"/>
    <!-- Because the membership section gets encrypted we leave this copy for devs and troubleshooting
          <membership defaultProvider="AspNetActiveDirectoryMembershipProvider">
            <providers>
              <clear/>
              <add connectionStringName="ADService" connectionUsername=""
                connectionPassword="" enablePasswordReset="true" enableSearchMethods="true"
                applicationName="uManage" clientSearchTimeout="30" serverSearchTimeout="30"
                name="AspNetActiveDirectoryMembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=2.0.3600, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            </providers>
          </membership>
    -->
    
    <membership defaultProvider="AspNetActiveDirectoryMembershipProvider">
      <providers>
        <clear />
        <add connectionStringName="ADService" connectionUsername="" connectionPassword=""
          enablePasswordReset="true" enableSearchMethods="true" applicationName="uManage"
          clientSearchTimeout="30" serverSearchTimeout="30" name="AspNetActiveDirectoryMembershipProvider"
          type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=2.0.3600, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
    
    <roleManager enabled="false" cacheRolesInCookie="true" cookieName=".uManageRoles"
      cookieTimeout="15" cookiePath="/" cookieSlidingExpiration="true"
      cookieProtection="All">
      <providers>
        <clear />
        <add connectionStringName="uManageEntities" applicationName="uManage"
          name="RoleProvider" type="PPI.UMS.BLL.UmsRoleProvider" />
      </providers>
    </roleManager>
    
    
  </system.web>
  
  <system.webServer>
    
    <modules runAllManagedModulesForAllRequests="true" />
    
  </system.webServer>
  
  <system.net>
    
    <mailSettings>
      <!-- Because the smtp section gets encrypted we leave this copy for devs and troubleshooting
            <smtp from="">
              <network host="" port="" defaultCredentials="" enableSsl="" userName="" password="" />
            </smtp>    
      -->
      <smtp from="">
        <network defaultCredentials="false" host="" password="" port="25"
          userName="" enableSsl="false" />
      </smtp>
    </mailSettings>
    
  </system.net>
  
</configuration>