<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <clear />
    <add name="ADService" connectionString="ldap://familynet.local" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="LaunchSetupWizard" value="False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.web>

    <membership defaultProvider="AspNetActiveDirectoryMembershipProvider" xdt:Transform="Replace">
      <providers>
        <clear/>
        <add connectionStringName="ADService" connectionUsername="umanage"
          connectionPassword="letmein" enablePasswordReset="true" enableSearchMethods="true"
          applicationName="/" clientSearchTimeout="30" serverSearchTimeout="30"
          name="AspNetActiveDirectoryMembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=2.0.3600, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
    
  </system.web>
</configuration>