// UIKit Theme Customizations (see https://getuikit.com/docs/sass)

// 1. Your custom variables and variable overwrites in ./theme/_variables.scss
@import "theme/import";

// 2. Import default variables and available mixins.
@import "~uikit/src/scss/variables.scss";
@import "~uikit/src/scss/mixins.scss";

// 3. Your custom mixin overwrites.
//@import "theme/accordion-mixins.scss";

// 4. Import UIkit.
@import "~uikit/src/scss/uikit.scss";