<div>
    <div class="wall-post">
        <div class="wall-post-header">
            <h1>Welcome to uManage</h1>
            <time>Saturday, July 26th, 2014</time>
        </div>
        <div class="wall-post-content">
            <p>You have successfully installed uManage and are almost ready to start letting users access the system. There are a few more setup tasks to complete but they are all fairly painless and straightforward. At this point, you have setup the application, connected to the database, and connected to the directory.</p>
            <p>The next steps all have to do with configuring uManage to work how you want it to work. These steps are typically needed for most installations:</p>
            <ol>
                <li>Configure Administrative Users &amp; Roles</li>
                <li>Configure Locations</li>
                <li>Configure Optional Settings</li>
            </ol>
            <h4>Feature Requests</h4>
            <p>We obviously want to improve the system and make it easier for everyone to use. If you have, a specific feature or ideas in mind feel free to visit <a href="https://github.com/203ent/uManage" target="_blank">GitHub</a> and suggest the feature. We cannot guarantee we will implement everything but we will at least look at your request.</p>
            <p>If you want to code something out, feel free to fork/patch the repository and send it in!</p>
            <h4>Getting Support &amp; Help</h4>
            <p>
                uManage is an open source product and as such you can usually get support and additional documentation from <a href="https://github.com/203ent/uManage" target="_blank">GitHub</a>. If you need more assistance or want to inquire about specific customization commercial assistance is provided by <a href="http://www.203ent.com" target="_blank">203 Enterprises</a>
                along with consulting and technical assistance services.
            </p>
            <div class="alert alert-warning"><strong>Hold on!</strong> You should probably <a class="alert-link" href="">remove this Wall Post</a> before you allow users to access the system.</div>
        </div>
    </div>
</div>